@media (min-width: 768px){
	.navbar-brand, .navbar-nav>li>a {
		letter-spacing: 1px;
		line-height: 53px;
		font-size: 12px;
	}
	.containerMyAccount button{
		color: #FFF;
		margin-top: 20px;
		margin-left: 10px;
		padding: 10px 5px;
		margin-right: -15px;
		-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
		font-size: 12px;
		font-weight: bold;
	}
	.navbar-brand img{
		width: 180px;
		margin-top: 4px;
	}
	.navbar-right {
		float: right!important;
		margin-right: 30px;
	}
	.box-login{
		position: absolute;
		left: 50%;
		right: 0;
		z-index: 2;
		background: rgba(0,0,0,0.5);    
		height: calc(100%);
	}
	.icon-lg .fa-lg {
		font-size: 5em;
	}
}


